<h2 mat-dialog-title>Partida</h2>
<mat-dialog-content>
	<div class="w-100 h-100 d-flex align-items-center justify-content-center">
		<div class="row justify-content-center w-100">
			<div class="col-auto">
				<mat-list class="border rounded-3 p-2 px-5 mat-elevation-z10">
					@for (player of data.teamOne; track player.nick) {
						<mat-list-item><span
								class="primary">{{ player.tier | numberToRank }}</span>
							{{ player.nick }}
						</mat-list-item>
					}
				</mat-list>
			</div>
			<div class="col-3">
				<div class="h-100 w-100 d-flex flex-column justify-content-center align-items-center">
					<h6 class="versus-title px-3 py-2 rounded-4">VS</h6>
					<small>{{ data.date | dateFormater }}</small>
				</div>
			</div>
			<div class="col-auto">
				<mat-list class="border rounded-3 p-2 px-5 mat-elevation-z10">
					@for (player of data.teamTwo; track player.nick) {
						<mat-list-item>
							<span class="primary">{{ player.tier | numberToRank }}</span>
							{{ player.nick }}
						</mat-list-item>
					}
				</mat-list>
			</div>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
