<h2 mat-dialog-title>Configurar lista pré-definida</h2>
<mat-dialog-content>
	<mat-form-field class="w-100 px-3">
		<mat-label>Filtro</mat-label>
		<input matInput [(ngModel)]="filterStr">
	</mat-form-field>
	@if (playerStateSvc.playerHistory()) {
		<mat-list [@listAnimation]="(playerStateSvc.playerHistory() | playerFilter: filterStr).length">
			@for (player of playerStateSvc.playerHistory() | playerFilter:filterStr; track player.nick) {
				<mat-list-item>
					<div class="d-flex justify-content-between">
						<div>
							<mat-icon>person</mat-icon>
							<button
									tabindex="-1"
									mat-button
									matTooltip="Tier do jogador"
									matTooltipShowDelay="600"
									matTooltipPosition="after">{{ PLAYER_TIER[player.tier] }}
							</button>

							<span>{{ player.nick }}</span>
						</div>
						<div class="d-flex align-items-center gap-3">
							<mat-checkbox
									(change)="checkPlayer($event, player)"
									matTooltip="Selecione para inserir este item na lista de jogadores"
									class="example-margin"
									matTooltipShowDelay="600"></mat-checkbox>
							<button mat-mini-fab (click)="removePlayer(player)">
								<mat-icon>close</mat-icon>
							</button>
						</div>
					</div>
				</mat-list-item>
			}
		</mat-list>
	} @else {
		<p>Nenhum player registrado ainda</p>
	}
</mat-dialog-content>
<mat-dialog-actions>
	<button
			matTooltip="Mais ações"
			matTooltipShowDelay="400"
			class="me-2"
			mat-icon-button
			[matMenuTriggerFor]="extraActions">
		<mat-icon>more_horiz</mat-icon>
	</button>

	<mat-menu #extraActions="matMenu">
		<button mat-menu-item (click)="selectAllPlayersToInsert()">
			<mat-icon>playlist_add_check</mat-icon>
			<span>Selecionar todos</span>
		</button>
		<button mat-menu-item (click)="copyHistoryCode()">
			<mat-icon>file_upload</mat-icon>
			<span>Copiar código da lista</span>
		</button>
		<button mat-menu-item (click)="openCodeLoader()">
			<mat-icon>file_download</mat-icon>
			<span>Carregar código de lista</span>
		</button>
	</mat-menu>

	<button mat-flat-button (click)="submitToInsert()">Inserir jogadores
	</button>
	<button class="ms-4" mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>


<ng-template #importer>
	<div class="d-flex flex-row align-items-center gap-3 px-3 py-5">
		<mat-form-field class="px-3" appearance="outline" subscriptSizing="dynamic">
			<mat-label>Código</mat-label>
			<input matInput #codeInput>
		</mat-form-field>
		<button mat-flat-button (click)="importHistoryCode(codeInput.value)">Carregar</button>
	</div>
</ng-template>