<mat-toolbar color="primary">
	<h1 class="mx-auto">TEAMPICKER</h1>
	<button
			matTooltip="Editar tiers"
			matTooltipShowDelay="250"
			(click)="openTierEditor()"
			mat-icon-button>
		<mat-icon>military_tech</mat-icon>
	</button>
	<button
			matTooltip="Histórico de partidas"
			matTooltipShowDelay="250"
			(click)="openShuffleHistory()"
			mat-icon-button>
		<mat-icon>history</mat-icon>
	</button>
	<button
			(click)="openPlayerManager()"
			mat-icon-button
			matTooltipShowDelay="250"
			matTooltip="Lista de players">
		<mat-icon>person_search</mat-icon>
	</button>
</mat-toolbar>

<main class="py-4">
	<router-outlet/>
</main>
