/* You can add global styles to this file, and also import other style files */

@use 'variables' as *;
@use '@angular/material' as mat;

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

@mixin theme() {
  app-root {


    color: mat.get-theme-color($theme, primary, 98);

    mat-toolbar {
      color: mat.get-theme-color($theme, primary);
      background: mat.get-theme-color($theme, primary-container);
    }

  }

  mat-tooltip-component {
    & * {
      white-space: pre-line;
    }
  }

  mat-list-item:hover {
    & span {
      transition: color 150ms ease-in-out;
      color: mat.get-theme-color($theme, primary);
    }
  }
  .mdc-snackbar {
    margin: 2rem !important;
  }

  .error-snackbar {
    & .mat-mdc-snackbar-surface {
      background-color: mat.get-theme-color($theme, error-container) !important;
      color: mat.get-theme-color($theme, on-error-container) !important;
    }

    & .mdc-button__label {
      color: mat.get-theme-color($theme, on-error-container) !important;
    }
  }

  mat-icon {
    vertical-align: sub;
  }

  button {
    &.mdc-icon-button {
      & mat-icon {
        vertical-align: unset !important;
      }
    }
  }

  .border-cyan {
    border-color: mat.get-theme-color($theme, primary) !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;


}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: mat.get-theme-color($theme, neutral, 40);
}

:root {
  //@include mat.core-theme($theme);
  //@include mat.all-component-themes($theme);
  @include theme();
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.border {
  transition: all 200ms ease-in-out;
}

.primary {
  color: mat.get-theme-color($theme, primary, 70)
}
